.container{
    background-image: url(https://www2.d125.org/applied_arts/teched/courses/WEB/portfolios/2014_FallP8/Rami_Portfolio_Period8/unit4_css/project2/cssProject2/grid.png);
    height: 1024px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.beg-end{
    background-color: aquamarine;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 940px;
    height: 100px;
    float: left;
    opacity: 0.8;
    
}
.middle{
    background-color: aquamarine;
    /* margin: 20px auto 10px 30px; */
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    float: left;
    width: 220px;
    height: 220px;
    opacity: 0.8;

}